---
layout: default
---

<section id="article" role="main">
  <div class="wrapper">
    <div class="article-wrap">
      <article>
        <header>
          <p class="topic">Department of {{ page.department }}</p>
          <h1><a href="{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ page.title }}</a></h1>
          <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>
        </header>
          
        {{ content }}

      </article>
    </div>
  </div>
</section>